@import '../commons/text.scss';

.encume {
    margin-top: 80px!important;
}

.encume_logo {
    width: 60%!important;
}

.encume_button {
    color: #C42664!important;
    background-color: #fff!important;
    font-weight: 600!important;
    border-color: #C42664!important;
}