
.footer h4 {
    font-size: 1.3rem!important;
} 

.footer a {
    color:rgb(255, 255, 255);
    font-size: .8rem!important;
}

.footer h3 {
    color:rgb(145, 145, 145);
    font-size: .8rem!important;
}

.footer .logo {
    width: 170px!important;
}
