@import './commons/colors.scss';

Nav {
    background-color: rgba(0,0,0,.5);
    
    :hover {
        color: $primary!important;
    }
    .active {
        color: $primary!important;
        font-weight: 600;
    } 
}

.navbar-brand:hover {
    color: #FFF!important;
}

Nav .logo {
    width: 170px;
}