.activism .activity {
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 30px;
}

.card-title {
    font-size: .9rem!important;

    @media only screen and (min-width: 576px) {
        font-size: 1rem!important;
    }

    @media only screen and (min-width: 768px) {
        font-size: 0.9rem!important;
    }

    @media only screen and (min-width: 992px) {
        font-size: .9rem!important;
    }

    @media only screen and (min-width: 1200px) {
        font-size: 1.1rem!important;
    }
}

.activity {

    width: 90%;

    @media only screen and (min-width: 600px) {
        width: 80%;
    }

    @media only screen and (min-width: 768px) {
        width: 47%;
    }

    @media only screen and (min-width: 992px) {
        width: 400px;
    }

    & .image {
        width:100%;
    }

    @media only screen and (max-width: 767px) {
        & .image {
            width:50%;
        }
    }

    &_info {
    
        & h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 1rem;
            color: #616161; 
        }

        & Button {
            font-size: 0.8rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 0.5rem;
        }
    }

}





