.purpose {
    &_button {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 0.5rem;
        color: #C42664!important;
        background-color: white!important;
    }
}

