// Them Colors choose
$white: #FFF;
$primary: #C42664;
$grey-dark: #303030; // Gris oscuro fondo
$success: #525252; // Gris fondo footer-copyright
$secondary: #d36268; // Color ocre

// Color del Icono Menu Hamburguesa
$navbar-dark-color:  rgba($white, 1) !default;